@media screen and (max-width: 760px) {
   
        nav{
            flex-direction: column;

        }
        h1{
            margin-bottom: -10px;
        }

        nav ul{
            flex-direction: column;
            justify-content: center;
            gap: 2px;

        }
        .sessao1{
            flex-direction: column;
        }

        .sessao3{
            flex-direction: column;
        }
 
        img{
            max-width: 310px;
        }

        .sessao2 img{
            max-width: 310px;
        }

        .sessao3 img{
            max-width: 310px;
        }
 
}